*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
section{
    margin-top: 130px;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
}
.cnt-btn{
    width: 160px;
    height: 64px;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    font-weight: 700;
    font-size: 20px;

}
/* Header and Nav */
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
nav ul{
    display: flex;
    align-items: center;
} 

.header{
    background: #FFF8F3;
    background-image: url(/images/header_bg.png), url(/images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
/* Banner*/
.banner{
    margin: 0 200px;
    display: flex;
    align-items: center;
}
.bnr-ttl{
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 5px;
}
.bnr-sttl{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;

}
.bnr-dsc{
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}
/* ABout  */
.aboutme{
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}
.sec-ttl{
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
}
.sec-dsc{
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about-info-con{
    display: flex;
    justify-content: space-around;
}
.info-ttl{
    font-weight: 400;
    font-size: 20px;
    color: #757575;
}
.info-dsc{
    font-weight: 400;
    font-size: 20px;
    color: #474747;
}
/* what I do */
.skills-container{
    display: flex;
    gap: 24px;
}
.skill-ttl{
    font-weight: 700;
    font-size: 20px;
    color: #181818;
    margin-top: 30px;
    margin-bottom: 20px;

}
.skill-dsc{
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}
.skill{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;

}
/* resume styles */
.rsm-cont{
    display: flex;
    gap: 24px;
}

.rsm-item .ttl{
    font-weight: 700;
    font-size: 25px;
    color: #474747;
}
.rsm-item .sttl{
    font-weight: 600;
    font-size: 20px;
    color: #757575;
}
.rsm-item .dsc{
    font-weight: 400;
    font-size: 16px;
    color: #757575;
    margin-bottom: 20px;
}
.rsm-ttl{
    font-weight: 700;
    font-size: 30px;
    color: #474747;
    margin-bottom: 10px;
}
.rsm-item{
    margin-top: 30px;
    margin-bottom: 30px;
}
.rsm-btn{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    
}
/* contact */
.contact .sec-ttl{
    text-align: left;
}
.contact{
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    padding: 130px 200px;
}

.contact input[type="text"], input[type="email"], textarea {
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
}
input{
    height: 64px;
}
.contact a{
    text-decoration: none;
}
/* .la{
    padding: 10px;
} */